<div class="container" *ngIf="pformGroup">
  <form [formGroup]="pformGroup">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name"
             [ngClass]="{'is-invalid': submitted && pformGroup.controls.name.errors}">
             <div *ngIf="submitted && pformGroup.controls.name.errors" class="invalid-feedback">
                <div *ngIf="pformGroup.controls.name.errors.required">Name is Required</div>
             </div>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" formControlName="price">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" formControlName="quantity">
    </div>
    <div class="form-group">
      <label>Selected</label>
      <input type="checkbox" formControlName="selected">
    </div>
    <div class="form-group">
      <label>Available</label>
      <input type="checkbox" formControlName="available">
    </div>
    <button class="btn btn-success" (click)="onSaveProduct()">Save</button>
  </form>
</div>>
